.footer {
    color: white;
    background-color: black;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-copyright-container {
    margin-top: 50px;
    background-color: black;
    padding: 10px;
    text-align: center;
}

.footer-description {
    text-align: center;
    margin: 20px auto;
    width: 60%;
}

.links-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.links-header {
    font-size: 1.8rem;
    color: rgb(255, 0, 0);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.contact-icon {
    margin-right: 20px;
    background-color: white;
    color: black;
    padding: 5px;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
}

.contact-info {
    font-size: 1.3rem;
}

.contact-icons-container {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.contact-span {
    font-size: 1.3rem;
    margin: auto 0;
    text-align: center;
}

.contact-info {
    color: white;
}

.contacts {
    width: 100%;
    justify-content: space-around;
}

.links {
    padding: 20px;
    width: 70%;
}

.social-media-links {
    text-align: end;
}

a.link {
    width: 100%;
}

li .link {
    font-size: 1.3rem;
    font-style: none;
    color: rgba(255, 255, 255, 0.7);
}

li .link:hover {
    transition: .3s ease-in-out;
    color: rgb(248, 0, 0)
}

@media (max-width: 500px) {
    /* .contact-icons-container {
        align-items: center;
        justify-content: center;
    } */
    
    .contact {
        flex-direction: column;
    }
}