.tecnologias-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-bottom: 45vh;
}

.tecnologias-container .slick-slide div {
    display: flex;
    justify-content: center;
}

.tech-icon {
    max-width: 70px;
}

.techs {
    margin-top: 35vh;
    width: 100%;
}

section .techs-description {
    width: fit-content;
    margin: 0 auto 20px auto;
}