.http-component-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.http-component-input {
    text-align: center;
    margin: 5px;
    padding: 5px 10px;
}

.http-component-inputs-container {
    height: 50px;
    margin-bottom: 30px;
}

.http-component-info {
    text-align: center;
    margin: 10px auto 0 auto;
    width: 70%;
    height: 65px;
}

.submmit-button {
    padding: 5px;
    margin-bottom: 10px;
}

.response-container {
    position: relative;
    width: 90%;
    height: 40vh;
    background-color: rgba(0, 10, 0, 0.3);
    padding: 15px;
    border-radius: 5px;
}

.response-container pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1rem;
    text-align: left;
    width: 100%;
}

.use-token {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
}