.repo-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 20px;
    height: 200px;
}

.infinite-scrolling-container {
    overflow: auto;
}

.github-stats {
    margin: 30px auto;
    width: 90%;
    max-width: 500px;
}

.repo-list {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.repo-name {
    font-weight: bold;
}

.repo-url {
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
}

.repo-name::first-letter {
    text-transform: capitalize;
}

/* Estilos específicos para telas menores que 410px */
@media (min-width: 410px) {
    .repo-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Estilos específicos para telas menores que 630px */
@media (min-width: 630px) {
    .repo-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Estilos específicos para telas menores que 900px */
@media (min-width: 900px) {
    .repo-list{
        grid-template-columns: repeat(3, 1fr);
    }
}